<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>
<body>
  <div class="container" style="margin-top: 2rem">
  <div class="row">
    <div class="col">
    <div class="navigation">
      {{#user}}
        <h2>
          You are logged in as {{ username }}.
          <small><a href="/logout/">Logout</a></small>
        </h2>
      {{/user}}
      {{^user}}
      <h1>
        Welcome to the Code Snippet Organizer
        <small><a href="/login/">Login</a> | <a href="/register/">Register</a></small>
      </h1>
      {{/user}}

    </div>
    <div class = "navigation">
    {{^user}}
      <div><p><a href = "/login/">Login</a></div>
      <div><p><a href = "/register/">Register</a></p></div>
      {{/user}}
    </div>
  </div>
</div>


<!--  <script src="main.js" type="text/javascript"></script> -->
</body>
</html>










<!--  <h2> Please login below:</h2>
  <form action="/" method="post">
    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Username" name="username" required>

      <label><b>Password</b></label>
      <input type="text" placeholder="Enter Password" name="password" required>
    </div>
    <div class="form_submit-button">
      <input type="submit">
    </div>
  </form> -->
