<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Code Snippet Organizer!</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
</head>
<body>
  <div class = 'navigation'>
      {{#user}}
      <div><p><a href = "/collection/">My Collection</a></div>
        <div><p><a href = "/logout/">Logout</a></p></div>

        {{/user}}
    </div>
    {{#codes}}
    <div class = "individualBox">
      <h2>{{title}}</h2>
      <p><pre><code>{{snippetBody}}</code></pre></p>
      <p class = 'language'>Primary Language: <a href = "#" id = "language-link">{{language}}</a></p>
      {{#tags}}
      <p class = 'snippetTags'>{{.}}</p>
      {{/tags}}
      <form action = "/{{_id}}/delete" method="POST" class ="form-buttons">
        <button type="submit" class = 'del-edit-btn'>Delete</button>
      </form>
      <form action = '/{{_id}}/edit' method="get" class = 'form-buttons'>
        <button type = "submit" class = 'del-edit-btn'>Edit</button>
      </form>
    </div>

      {{/codes}}
    </div>

<!--  <script src="app.js" type="text/javascript"></script> -->
</body>
</html>
